<script>
  window.onresize = () => { waterfall('.imgList'); };
  window.onload = () => { waterfall('.imgList'); };
</script>
<section class="nav-wrapper">
  <nav>
    <div class="logoWrapper">

      <img src="../images/Frame 12.png" alt="Logo">
      <img src="../images/MemeMe.png" alt="Logo-name">
    </div>
    <div class="search-field">
    <input class="form-control" type="text" placeholder="Search Me">
    </div>
    <div>
    {{#unless isLoggedIn}}
     <a class="btn btn-outline-secondary" href="/login">LOG IN</a>
     <a class="btn btn-secondary" href="/signup">SIGN UP</a>
    {{/unless}}
    {{#if isLoggedIn}}
    <a class="btn btn-outline-secondary" href="/meme/add">Add a meme</a>
    <a class="btn btn-secondary" href="/profile">Profile {{username}}</a>
    {{/if}}
   </div>
  </nav>
  <header>
    <img class="background-img" src="../images/background-meme.png" alt="">
  </header>
</section>

<section class="img-wrapper">
  
  <div class="imgList">
    {{#each imgList}}

      <div class="card item" style="width: 500px">
        <a href="/meme/{{_id}}">
        <img class="card-img-top" width="400" src="{{this.imgPath}}" alt="{{this.title}}"> 
        </a> 
        <h4>{{this.title}}</h4>
      </div>

    {{/each}}
  </div>
</section>
<section class="footer-wrapper">
  <footer>
    <a href="">(c)2020 MEMEME</a>
    <a href="">ABOUT</a>
    <a href="">PRIVACY</a>
    <a href="">TERMS</a>
  </footer>
</section>
