<section class="back-arrow">
  <img src="../images/arrow.png" alt="">
  <a href="/">Back to home</a>
</section>

{{#each memes}}
<div>
  <h1>{{this.title}}</h1>
  <h2>{{this.description}}</h2>
  <img src=" {{this.imgPath}}" alt="">
</div>
{{/each}}
<div class="share">
  <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
    Share on <img src="../images/fb.png" alt="Facebook">
  </a>

</div>
<section id="rate">
  <h2>Rating:</h2>
  {{#if emptyRating }}
   <p>there is no rating</p>
   {{else}}

  <progress id="file" value="{{avrageRate}}" max="10"> {{avrageRate}} </progress>
  {{avrageRate}}
  {{/if}}

  <form action="/meme/{{memes._id}}/rating" method="POST">
    <label for="rate">Rate the Meme </label>
    <input type="number" min="0" max="10" value="0" name="rate" id="rate">
    <button type="submit">RATE</button>

  </form>

</section>

<section id="review">
  <h2>Comments: </h2>
  {{#if memes.reviews}}
  {{#each memes.reviews}}
  <h4>{{user}} commented:</h4>
  <p>{{this.comments}}</p>


  {{/each}}

  {{else}}
  <p>No comments yet 😕</p>
  {{/if}}
  <p>Add your comment</p>
  <form action="/meme/{{memes._id}}/reviews" method="POST">
    <label for="user"> Username: {{username}}</label>
    <label for="comments">Comments:</label>
    <textarea type="text" name="comments" id="comments"></textarea>
    <button type="submit">ADD</button>
  </form>
</section>
